ul {
    list-style-type: none;
    display: flex;
  }
  li{
    margin-right: 30px;
  }
  nav{
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
  }

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: orange;
}

  h1{
    text-align: center;
  }
 main{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: orange;
 }
 #reklamas{
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
 }
 #telefons:hover{
    color: rgb(112, 73, 1);
    padding: 30px;

 }
 #galerija{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
   gap: 20px;
 }
 @media only screen and (max-width: 600px) {
  iframe {
    width: 450px;
    height: 350px;
  }
}
